{# Barre de nav avec bouton retour accueil pour les pages intermédiaires #}
<nav class="navbar">
        <a class="navbar-brand" href="{{ path('home') }}"><img class="icons" src="{{ asset('img/home.png') }}" alt="icon maison"></a>
</nav>

